* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

button {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

/* button:hover {
  background-color: #005bb5;
} */

.ilxvdX, .flqyRr {
  padding: 20px;
}
.fMmnyQ, .glkBxo {
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 20px;
}
.fMmnyQ button {
  background-color: #9b9b9b;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.glkBxo button {
  background-color: #9b9b9b;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.fMmnyQ h1, .glkBxo h1 {
  font-size: 1.5em;
}
.iBLxVG, .hgpZiC {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}
.jcZWOK, .dqShKu {
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  min-width: 180px;
  min-height: 100px;
  
}
@media (max-width: 480px) {
  .iBLxVG {
      grid-template-columns: 1fr;
  }
}
.gagdYg, .gSmdgg {
  font-weight: bold;
  margin-bottom: 5px;
}